--
-- PostgreSQL database dump
--

-- Dumped from database version 13.16
-- Dumped by pg_dump version 13.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: bin_ica_ibd_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.bin_ica_ibd_enum AS ENUM (
    'No',
    'ICA / BID No.',
    'BIN No.',
    'Other'
);


ALTER TYPE public.bin_ica_ibd_enum OWNER TO postgres;

--
-- Name: card_functional_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.card_functional_enum AS ENUM (
    'Plastic Card (Non Mag.Stripe)',
    'Plastic Card (Mag.Stripe)',
    'Hybrid/Dual Frequency',
    'Contact Chip',
    'Contactless',
    'Dual Interface',
    'Metal Inlay Card',
    'Sim Card',
    'PIN Form',
    'Paper Card',
    'Paper Scratch Card',
    'Paper Product',
    'Other'
);


ALTER TYPE public.card_functional_enum OWNER TO postgres;

--
-- Name: card_size_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.card_size_enum AS ENUM (
    'ISO 85.6X53.98 mm.',
    'Other'
);


ALTER TYPE public.card_size_enum OWNER TO postgres;

--
-- Name: card_thickness_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.card_thickness_enum AS ENUM (
    '0.80+/-0.04mm.',
    '0.76 mm.+/-',
    '0.74 mm.+/-',
    '0.55 mm.+/-',
    'Other'
);


ALTER TYPE public.card_thickness_enum OWNER TO postgres;

--
-- Name: card_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.card_type_enum AS ENUM (
    'Financial',
    'Non-Financial',
    'Test Card'
);


ALTER TYPE public.card_type_enum OWNER TO postgres;

--
-- Name: coated_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.coated_enum AS ENUM (
    'No',
    'Laminate',
    'OPP',
    'Varnish',
    'Texture',
    'Gross',
    'Matt'
);


ALTER TYPE public.coated_enum OWNER TO postgres;

--
-- Name: core_material_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.core_material_enum AS ENUM (
    'PVC Normal',
    'PVC Transparent',
    'Bio-Degradable',
    'rPVC',
    'rPVC Hololam',
    'Hololam',
    'PC (Polycarbonate)',
    'Hi-Vicat',
    'PVC Mono Block',
    'Paper',
    'PVC Color',
    'PET',
    'PET-G',
    'Marble PVC',
    'Marble Hololam',
    'Marble Transparent'
);


ALTER TYPE public.core_material_enum OWNER TO postgres;

--
-- Name: development_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.development_type_enum AS ENUM (
    'New Product',
    'Re-Order',
    'Refer Artwork'
);


ALTER TYPE public.development_type_enum OWNER TO postgres;

--
-- Name: hologram_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.hologram_enum AS ENUM (
    'No',
    'Front',
    'Back',
    'Customize'
);


ALTER TYPE public.hologram_enum OWNER TO postgres;

--
-- Name: hololam_detail_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.hololam_detail_enum AS ENUM (
    'SILVER RAINBOW RED CORE',
    'SILVER RAINBOW BLACK CORE',
    'SILVER RAINBOW WHITE CORE',
    'HAIRLINE',
    'WHITE RAINBOW',
    'CLEAR WHITE',
    'BRIGHT SILVER'
);


ALTER TYPE public.hololam_detail_enum OWNER TO postgres;

--
-- Name: mag_stripe_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.mag_stripe_enum AS ENUM (
    'No',
    'Front',
    'Back',
    'Hi-Co',
    'Low-Co',
    '3 tracks (12.7mm)',
    '2 tracks (8.5mm)',
    'Other'
);


ALTER TYPE public.mag_stripe_enum OWNER TO postgres;

--
-- Name: overlay_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.overlay_enum AS ENUM (
    'No Overlay',
    'Normal',
    'Laser',
    'rPVC Overlay',
    'KP',
    'Other',
    'dz STD'
);


ALTER TYPE public.overlay_enum OWNER TO postgres;

--
-- Name: payment_brand_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.payment_brand_enum AS ENUM (
    'VISA',
    'Mastercard',
    'JCB',
    'TPN',
    'TBA/TBCC',
    'Diners',
    'Rupay',
    'MPU',
    'AMEX',
    'UPI',
    'Other'
);


ALTER TYPE public.payment_brand_enum OWNER TO postgres;

--
-- Name: perso_detail_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.perso_detail_enum AS ENUM (
    'PAN 16 Digits',
    'Encode',
    'CVV2/CVC2',
    'Barcode',
    'PIN',
    'Photo: Color',
    'Photo: Black & White',
    'Number',
    'CPG Version',
    'CHIP',
    'Expiry date',
    'QR Code',
    'Cardholder Name',
    'Running Number',
    'Valid Thru',
    'OTHER'
);


ALTER TYPE public.perso_detail_enum OWNER TO postgres;

--
-- Name: personalization_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.personalization_enum AS ENUM (
    'No',
    'dz card (SB)',
    'Customer Specific'
);


ALTER TYPE public.personalization_enum OWNER TO postgres;

--
-- Name: plug_in_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.plug_in_type_enum AS ENUM (
    'No',
    'Plug-in Std Sim (2FF)',
    'Plug-in Micro Sim (3FF)',
    'Plug-in Nano Sim (4FF)',
    'Plug-in Hybrid Sim (2FF+3FF)',
    'Plug-in Multi Sim (2FF+3FF+4FF)'
);


ALTER TYPE public.plug_in_type_enum OWNER TO postgres;

--
-- Name: print_method_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.print_method_enum AS ENUM (
    'DOD',
    'Inkjet',
    'Embrossed',
    'Thermal/DTC',
    'Thermal/Retransfer',
    'Indent',
    'Laser Engrave',
    'Other'
);


ALTER TYPE public.print_method_enum OWNER TO postgres;

--
-- Name: request_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.request_type_enum AS ENUM (
    'Mass-Production',
    'Sample'
);


ALTER TYPE public.request_type_enum OWNER TO postgres;

--
-- Name: signature_silk_screen_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.signature_silk_screen_enum AS ENUM (
    'No',
    'White Sign',
    'Clear Sign',
    'Size'
);


ALTER TYPE public.signature_silk_screen_enum OWNER TO postgres;

--
-- Name: special_punch_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.special_punch_enum AS ENUM (
    'No',
    'Refer. From Sample',
    'Customer'
);


ALTER TYPE public.special_punch_enum OWNER TO postgres;

--
-- Name: spot_uv_varnish_inkjet_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.spot_uv_varnish_inkjet_enum AS ENUM (
    'No',
    'Spot Varnish',
    'Spot UV',
    'Spot UV Inkjet',
    'Ref. Laser Proof',
    'Other'
);


ALTER TYPE public.spot_uv_varnish_inkjet_enum OWNER TO postgres;

--
-- Name: login(text, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.login(username text, user_password text) RETURNS TABLE(id integer, name character varying, email character varying, role character varying)
    LANGUAGE plpgsql
    AS $$
DECLARE
    stored_password TEXT;
BEGIN
    -- α╕äα╣ëα╕Öα╕½α╕▓α╕úα╕½α╕▒α╕¬α╕£α╣êα╕▓α╕Öα╕éα╕¡α╕çα╕£α╕╣α╣ëα╣âα╕èα╣ëα╕êα╕▓α╕ü email α╕ùα╕╡α╣êα╕úα╕░α╕Üα╕╕
    SELECT users.password INTO stored_password FROM users WHERE users.email = username;

    -- α╕òα╕úα╕ºα╕êα╕¬α╕¡α╕Üα╕ºα╣êα╕▓α╕úα╕½α╕▒α╕¬α╕£α╣êα╕▓α╕Öα╕ûα╕╣α╕üα╕òα╣ëα╕¡α╕çα╣éα╕öα╕óα╣âα╕èα╣ëα╕ƒα╕▒α╕çα╕üα╣îα╕èα╕▒α╕Ö crypt
    IF stored_password IS NOT NULL AND crypt(user_password, stored_password) = stored_password THEN
        RETURN QUERY
        SELECT users.id, users.name, users.email, users.role
        FROM users
        WHERE users.email = username;
    END IF;

    RETURN; -- α╕äα╕╖α╕Öα╕äα╣êα╕▓α╣Çα╕¢α╕Ñα╣êα╕▓α╕ûα╣ëα╕▓α╕üα╕▓α╕úα╕òα╕úα╕ºα╕êα╕¬α╕¡α╕Üα╣äα╕íα╣êα╕£α╣êα╕▓α╕Ö
END;
$$;


ALTER FUNCTION public.login(username text, user_password text) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: antenna_list; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.antenna_list (
    id integer NOT NULL,
    rm_no character varying(50) NOT NULL,
    item character varying(255) NOT NULL
);


ALTER TABLE public.antenna_list OWNER TO postgres;

--
-- Name: antenna_list_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.antenna_list_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.antenna_list_id_seq OWNER TO postgres;

--
-- Name: antenna_list_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.antenna_list_id_seq OWNED BY public.antenna_list.id;


--
-- Name: bin_ica_ibd_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.bin_ica_ibd_view AS
 SELECT unnest(enum_range(NULL::public.bin_ica_ibd_enum)) AS bin_ica_ibd;


ALTER TABLE public.bin_ica_ibd_view OWNER TO postgres;

--
-- Name: card_functional_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.card_functional_view AS
 SELECT unnest(enum_range(NULL::public.card_functional_enum)) AS card_functional;


ALTER TABLE public.card_functional_view OWNER TO postgres;

--
-- Name: card_info; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.card_info (
    id integer NOT NULL,
    status character varying(50),
    csname text,
    process text[],
    supplier_name text,
    development_type public.development_type_enum,
    development_type_reorder_oc_no character varying(50),
    development_type_refer_artwork_oc character varying(50),
    product_ref_no character varying(50),
    request_type public.request_type_enum,
    request_type_sample_details character varying(50),
    new_oc_no character varying(50) NOT NULL,
    po_no character varying(50),
    customer_name character varying(255),
    issuer_name character varying(255),
    card_name_product_description text,
    request_by character varying(50),
    department character varying(255),
    request_date date,
    email character varying(50),
    contact_no character varying(50),
    engineer_issuer_name character varying(255),
    engineer_product_item_fg_no character varying(50),
    engineer_product_item_fg_perso_no character varying(50),
    engineer_cards_name_product_description text,
    engineer_cards_name_product_description_perso text,
    engineer_checked_by character varying(50),
    engineer_check_date date,
    engineer_remarks text,
    card_type public.card_type_enum,
    card_usage_type character varying(50),
    payment_brand public.payment_brand_enum,
    card_functional public.card_functional_enum,
    card_functional_other_details text,
    match_color text[],
    match_color_pantone_details text,
    match_color_sample_details text,
    match_color_other_details text,
    bin_ica_ibd public.bin_ica_ibd_enum,
    ica_bid_no_details text,
    bin_no_details text,
    other_details text,
    card_size public.card_size_enum,
    card_size_other_details text,
    special_punch public.special_punch_enum,
    special_punch_other_details text,
    special_punch_customer_no text,
    plug_in public.plug_in_type_enum,
    card_thickness public.card_thickness_enum,
    card_thickness_details text,
    core_material_front public.core_material_enum,
    front_hololam_details public.hololam_detail_enum,
    front_paper_details text,
    front_color_details text,
    front_other_details text,
    core_material_back public.core_material_enum,
    back_hololam_details public.hololam_detail_enum,
    back_paper_details text,
    back_color_details text,
    back_other_details text,
    overlay_front public.overlay_enum,
    overlay_front_laser_details text,
    overlay_front_other_details text,
    overlay_back public.overlay_enum,
    overlay_back_laser_details text,
    overlay_back_other_details text,
    coated_front public.coated_enum,
    coated_front_texture_details text,
    coated_front_gloss_matt character varying(50),
    coated_back public.coated_enum,
    coated_back_texture_details text,
    coated_back_gloss_matt character varying(50),
    spot_uv_varnish_inkjet text[],
    spot_varnish_details character varying(50),
    spot_uv_details character varying(50),
    spot_uv_inkjet_details character varying(50),
    spot_uv_inkjet_option character varying(50),
    spot_uv_ref_details character varying(50),
    spot_uv_other_details character varying(50),
    mag_stripe public.mag_stripe_enum,
    mag_stripe_color_details character varying(50),
    mag_stripe_hi_co boolean DEFAULT true,
    chip_status boolean DEFAULT false,
    chip_model_rm_no character varying(50),
    chip_model_item text,
    chip_model_other_details text,
    antenna_inlay_status boolean DEFAULT false,
    antenna_inlay_rm_no character varying(50),
    antenna_inlay_item text,
    antenna_inlay_other_details text,
    signature_silk_screen_status boolean DEFAULT false,
    signature_silk_screen public.signature_silk_screen_enum,
    signature_silk_screen_size_detail text,
    signature_hot_foil_list text,
    signature_hot_foil_item character varying(50),
    signature_hot_other_detail character varying(50),
    hologram_status boolean DEFAULT false,
    hologram_no1_list text,
    hologram_no1_item character varying(50),
    hologram_no2_list text,
    hologram_no2_item character varying(50),
    hologram_customize_details text,
    special_punch_die_cut_detail text,
    photo_panel_status boolean DEFAULT false,
    photo_panel_size text,
    hot_stamp_running_no1 text,
    hot_stamp_running_no2 text,
    hot_stamp_front_color1 text,
    hot_stamp_front_color2 text,
    hot_stamp_front_color3 text,
    hot_stamp_back_color1 text,
    hot_stamp_back_color2 text,
    hot_stamp_back_color3 text,
    color_edge_status boolean DEFAULT false,
    color_edge1 text,
    color_edge2 text,
    color_edge3 text,
    color_edge1_detail text,
    color_edge2_detail text,
    color_edge3_detail text,
    special_printing_status boolean DEFAULT false,
    special_printing_option1 text,
    special_printing_option2 text,
    special_printing_option3 text,
    special_printing_option4 text,
    special_printing_customize text,
    special_remark_details text,
    personalization public.personalization_enum,
    personalization_customer_spec_detail text,
    print_method_front text[],
    print_method_front_embrossed_color text,
    print_method_front_other_detail text,
    print_method_back text[],
    print_method_back_embrossed_color text,
    print_method_back_other_detail text,
    perso_detail_banking_loyalty text[],
    banking_loyalty_pan boolean DEFAULT false,
    banking_loyalty_pan_1 character varying(50),
    banking_loyalty_pan_2 text,
    banking_loyalty_pan_3 text,
    banking_loyalty_encode boolean DEFAULT false,
    banking_loyalty_encode_1 character varying(50),
    banking_loyalty_encode_2 text,
    banking_loyalty_encode_3 text,
    banking_loyalty_cvv2 boolean DEFAULT false,
    banking_loyalty_cvv2_1 character varying(50),
    banking_loyalty_cvv2_2 text,
    banking_loyalty_cvv2_3 text,
    banking_loyalty_pin boolean DEFAULT false,
    banking_loyalty_pin_1 character varying(50),
    banking_loyalty_pin_2 text,
    banking_loyalty_pin_3 text,
    banking_loyalty_card_number boolean DEFAULT false,
    banking_loyalty_card_number_1 character varying(50),
    banking_loyalty_card_number_2 text,
    banking_loyalty_card_number_3 text,
    banking_loyalty_cpg_version boolean DEFAULT false,
    banking_loyalty_cpg_version_1 character varying(50),
    banking_loyalty_cpg_version_2 text,
    banking_loyalty_cpg_version_3 text,
    banking_loyalty_chip boolean DEFAULT false,
    banking_loyalty_chip_1 character varying(50),
    banking_loyalty_chip_2 text,
    banking_loyalty_chip_3 text,
    banking_loyalty_expiry boolean DEFAULT false,
    banking_loyalty_expiry_1 character varying(50),
    banking_loyalty_expiry_2 date,
    banking_loyalty_expiry_3 date,
    banking_loyalty_qrcode boolean DEFAULT false,
    banking_loyalty_qrcode_1 character varying(50),
    banking_loyalty_qrcode_2 text,
    banking_loyalty_qrcode_3 text,
    banking_loyalty_cardholder boolean DEFAULT false,
    banking_loyalty_cardholder_1 character varying(50),
    banking_loyalty_cardholder_2 text,
    banking_loyalty_cardholder_3 text,
    banking_loyalty_running_number boolean DEFAULT false,
    banking_loyalty_running_number_1 character varying(50),
    banking_loyalty_running_number_2 text,
    banking_loyalty_running_number_3 text,
    banking_loyalty_valid_thru boolean DEFAULT false,
    banking_loyalty_valid_thru_1 character varying(50),
    banking_loyalty_valid_thru_2 text,
    banking_loyalty_valid_thru_3 text,
    banking_loyalty_barcode boolean DEFAULT false,
    banking_loyalty_barcode_1 character varying(50),
    banking_loyalty_barcode_2 text,
    banking_loyalty_barcode_3 text,
    banking_loyalty_photo_color boolean DEFAULT false,
    banking_loyalty_photo_back_white boolean DEFAULT false,
    banking_loyalty_other text,
    perso_detail_telecom text[],
    telecom_iccid boolean DEFAULT false,
    telecom_iccid_1 character varying(50),
    telecom_iccid_2 text,
    telecom_iccid_3 text,
    telecom_msisdn boolean DEFAULT false,
    telecom_msisdn_1 character varying(50),
    telecom_msisdn_2 text,
    telecom_msisdn_3 text,
    telecom_expiry boolean DEFAULT false,
    telecom_expiry_1 character varying(50),
    telecom_expiry_2 date,
    telecom_expiry_3 date,
    telecom_serial_name boolean DEFAULT false,
    telecom_serial_name_1 character varying(50),
    telecom_serial_name_2 text,
    telecom_serial_name_3 text,
    telecom_overprint boolean DEFAULT false,
    telecom_overprint_1 character varying(50),
    telecom_overprint_2 text,
    telecom_overprint_3 text,
    telecom_barcode boolean DEFAULT false,
    telecom_barcode_1 character varying(50),
    telecom_barcode_2 text,
    telecom_barcode_3 text,
    telecom_qrcode boolean DEFAULT false,
    telecom_qrcode_1 character varying(50),
    telecom_qrcode_2 text,
    telecom_qrcode_3 text,
    telecom_running_number boolean DEFAULT false,
    telecom_running_number_1 character varying(50),
    telecom_running_number_2 text,
    telecom_running_number_3 text,
    telecom_chip boolean DEFAULT false,
    telecom_chip_1 character varying(50),
    telecom_chip_2 text,
    telecom_chip_3 text,
    telecom_pin boolean DEFAULT false,
    telecom_pin_1 character varying(50),
    telecom_pin_2 text,
    telecom_pin_3 text,
    telecom_puk boolean DEFAULT false,
    telecom_puk_1 character varying(50),
    telecom_puk_2 text,
    telecom_puk_3 text,
    telecom_other text,
    lastedit text,
    remarks_details text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    special_printing_option1_detail text,
    special_printing_option2_detail text,
    special_printing_option3_detail text,
    special_printing_option4_detail text,
    mag_stripe_other_details text,
    shortname_chip_model_item text,
    purpose character varying(50),
    qty character varying(50)
);


ALTER TABLE public.card_info OWNER TO postgres;

--
-- Name: card_info_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.card_info_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.card_info_id_seq OWNER TO postgres;

--
-- Name: card_info_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.card_info_id_seq OWNED BY public.card_info.id;


--
-- Name: card_size_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.card_size_view AS
 SELECT unnest(enum_range(NULL::public.card_size_enum)) AS card_size;


ALTER TABLE public.card_size_view OWNER TO postgres;

--
-- Name: card_thickness_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.card_thickness_view AS
 SELECT unnest(enum_range(NULL::public.card_thickness_enum)) AS card_thickness;


ALTER TABLE public.card_thickness_view OWNER TO postgres;

--
-- Name: card_type_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.card_type_view AS
 SELECT unnest(enum_range(NULL::public.card_type_enum)) AS card_type;


ALTER TABLE public.card_type_view OWNER TO postgres;

--
-- Name: card_usage_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.card_usage_type (
    id integer NOT NULL,
    description character varying(50) NOT NULL,
    type character varying(20) NOT NULL
);


ALTER TABLE public.card_usage_type OWNER TO postgres;

--
-- Name: card_usage_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.card_usage_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.card_usage_type_id_seq OWNER TO postgres;

--
-- Name: card_usage_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.card_usage_type_id_seq OWNED BY public.card_usage_type.id;


--
-- Name: chip_list; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chip_list (
    id integer NOT NULL,
    rm_no character varying(50) NOT NULL,
    item character varying(255) NOT NULL,
    item_customer character varying(100),
    inlay_rm_no text[]
);


ALTER TABLE public.chip_list OWNER TO postgres;

--
-- Name: chip_list_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.chip_list_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chip_list_id_seq OWNER TO postgres;

--
-- Name: chip_list_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.chip_list_id_seq OWNED BY public.chip_list.id;


--
-- Name: coated_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.coated_view AS
 SELECT unnest(enum_range(NULL::public.coated_enum)) AS coated;


ALTER TABLE public.coated_view OWNER TO postgres;

--
-- Name: color_edge; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.color_edge (
    id integer NOT NULL,
    color character varying(50) NOT NULL,
    item character varying(50) NOT NULL
);


ALTER TABLE public.color_edge OWNER TO postgres;

--
-- Name: color_edge_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.color_edge_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.color_edge_id_seq OWNER TO postgres;

--
-- Name: color_edge_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.color_edge_id_seq OWNED BY public.color_edge.id;


--
-- Name: core_material_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.core_material_view AS
 SELECT unnest(enum_range(NULL::public.core_material_enum)) AS core_material;


ALTER TABLE public.core_material_view OWNER TO postgres;

--
-- Name: development_type_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.development_type_view AS
 SELECT unnest(enum_range(NULL::public.development_type_enum)) AS development_type;


ALTER TABLE public.development_type_view OWNER TO postgres;

--
-- Name: hologram_list; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hologram_list (
    id integer NOT NULL,
    item character varying(50) NOT NULL,
    description character varying(255) NOT NULL,
    payment_brand character varying(50) DEFAULT 'OTHER'::character varying
);


ALTER TABLE public.hologram_list OWNER TO postgres;

--
-- Name: hologram_list_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.hologram_list_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.hologram_list_id_seq OWNER TO postgres;

--
-- Name: hologram_list_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.hologram_list_id_seq OWNED BY public.hologram_list.id;


--
-- Name: hologram_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.hologram_view AS
 SELECT unnest(enum_range(NULL::public.hologram_enum)) AS hologram;


ALTER TABLE public.hologram_view OWNER TO postgres;

--
-- Name: hololam_detail_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.hololam_detail_view AS
 SELECT unnest(enum_range(NULL::public.hololam_detail_enum)) AS hololam_detail;


ALTER TABLE public.hololam_detail_view OWNER TO postgres;

--
-- Name: mag_stripe_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.mag_stripe_view AS
 SELECT unnest(enum_range(NULL::public.mag_stripe_enum)) AS mag_stripe;


ALTER TABLE public.mag_stripe_view OWNER TO postgres;

--
-- Name: overlay_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.overlay_view AS
 SELECT unnest(enum_range(NULL::public.overlay_enum)) AS "overlay";


ALTER TABLE public.overlay_view OWNER TO postgres;

--
-- Name: perso_detail_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.perso_detail_view AS
 SELECT unnest(enum_range(NULL::public.perso_detail_enum)) AS perso_detail;


ALTER TABLE public.perso_detail_view OWNER TO postgres;

--
-- Name: personalization_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.personalization_view AS
 SELECT unnest(enum_range(NULL::public.personalization_enum)) AS personalization;


ALTER TABLE public.personalization_view OWNER TO postgres;

--
-- Name: plug_in_type_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.plug_in_type_view AS
 SELECT unnest(enum_range(NULL::public.plug_in_type_enum)) AS plug_in_type;


ALTER TABLE public.plug_in_type_view OWNER TO postgres;

--
-- Name: print_method_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.print_method_view AS
 SELECT unnest(enum_range(NULL::public.print_method_enum)) AS print_method;


ALTER TABLE public.print_method_view OWNER TO postgres;

--
-- Name: request_type_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.request_type_view AS
 SELECT unnest(enum_range(NULL::public.request_type_enum)) AS request_type;


ALTER TABLE public.request_type_view OWNER TO postgres;

--
-- Name: signature_list; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.signature_list (
    id integer NOT NULL,
    item character varying(50) NOT NULL,
    description character varying(255) NOT NULL,
    payment_brand character varying(50) DEFAULT 'OTHER'::character varying
);


ALTER TABLE public.signature_list OWNER TO postgres;

--
-- Name: signature_list_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.signature_list_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.signature_list_id_seq OWNER TO postgres;

--
-- Name: signature_list_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.signature_list_id_seq OWNED BY public.signature_list.id;


--
-- Name: signature_silk_screen_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.signature_silk_screen_view AS
 SELECT unnest(enum_range(NULL::public.signature_silk_screen_enum)) AS signature_silk_screen;


ALTER TABLE public.signature_silk_screen_view OWNER TO postgres;

--
-- Name: special_punch_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.special_punch_view AS
 SELECT unnest(enum_range(NULL::public.special_punch_enum)) AS special_punch;


ALTER TABLE public.special_punch_view OWNER TO postgres;

--
-- Name: spot_uv_varnish_inkjet_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.spot_uv_varnish_inkjet_view AS
 SELECT unnest(enum_range(NULL::public.spot_uv_varnish_inkjet_enum)) AS spot_uv_varnish_inkjet;


ALTER TABLE public.spot_uv_varnish_inkjet_view OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password text NOT NULL,
    role character varying(50) DEFAULT 'staff'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: antenna_list id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.antenna_list ALTER COLUMN id SET DEFAULT nextval('public.antenna_list_id_seq'::regclass);


--
-- Name: card_info id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.card_info ALTER COLUMN id SET DEFAULT nextval('public.card_info_id_seq'::regclass);


--
-- Name: card_usage_type id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.card_usage_type ALTER COLUMN id SET DEFAULT nextval('public.card_usage_type_id_seq'::regclass);


--
-- Name: chip_list id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chip_list ALTER COLUMN id SET DEFAULT nextval('public.chip_list_id_seq'::regclass);


--
-- Name: color_edge id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.color_edge ALTER COLUMN id SET DEFAULT nextval('public.color_edge_id_seq'::regclass);


--
-- Name: hologram_list id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hologram_list ALTER COLUMN id SET DEFAULT nextval('public.hologram_list_id_seq'::regclass);


--
-- Name: signature_list id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.signature_list ALTER COLUMN id SET DEFAULT nextval('public.signature_list_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: antenna_list; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: card_info; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: card_usage_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.card_usage_type (id, description, type) FROM stdin;
1	Debit	Financial
2	Credit	Financial
3	ATM	Financial
4	Prepaid	Financial
5	Government/ID	Non-Financial
6	Ticket	Non-Financial
7	Transportation	Non-Financial
8	Gift Cards	Non-Financial
9	Loyalty/Membership	Non-Financial
10	Engineering Test	Test Card
11	Telecom	Telecom
12	Paper	Telecom
13	Fullfilment	Telecom
14	SIM	Telecom
15	Scratch Card	Telecom
16	Engineering Test Card	Test Card
19		
\.


--
-- Data for Name: chip_list; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: color_edge; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hologram_list; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: signature_list; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: antenna_list_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.antenna_list_id_seq', 35, true);


--
-- Name: card_info_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.card_info_id_seq', 64, true);


--
-- Name: card_usage_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.card_usage_type_id_seq', 19, true);


--
-- Name: chip_list_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chip_list_id_seq', 94, true);


--
-- Name: color_edge_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.color_edge_id_seq', 20, true);


--
-- Name: hologram_list_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hologram_list_id_seq', 27, true);


--
-- Name: signature_list_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.signature_list_id_seq', 23, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 33, true);


--
-- Name: antenna_list antenna_list_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.antenna_list
    ADD CONSTRAINT antenna_list_pkey PRIMARY KEY (id);


--
-- Name: card_info card_info_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.card_info
    ADD CONSTRAINT card_info_pkey PRIMARY KEY (id);


--
-- Name: card_usage_type card_usage_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.card_usage_type
    ADD CONSTRAINT card_usage_type_pkey PRIMARY KEY (id);


--
-- Name: chip_list chip_list_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chip_list
    ADD CONSTRAINT chip_list_pkey PRIMARY KEY (id);


--
-- Name: color_edge color_edge_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.color_edge
    ADD CONSTRAINT color_edge_pkey PRIMARY KEY (id);


--
-- Name: hologram_list hologram_list_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hologram_list
    ADD CONSTRAINT hologram_list_pkey PRIMARY KEY (id);


--
-- Name: signature_list signature_list_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.signature_list
    ADD CONSTRAINT signature_list_pkey PRIMARY KEY (id);


--
-- Name: card_info unique_new_oc_no; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.card_info
    ADD CONSTRAINT unique_new_oc_no UNIQUE (new_oc_no);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

GRANT USAGE ON SCHEMA public TO anon;


--
-- Name: FUNCTION login(username text, user_password text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.login(username text, user_password text) TO web_anon;


--
-- Name: TABLE antenna_list; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.antenna_list TO anon;


--
-- Name: TABLE bin_ica_ibd_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.bin_ica_ibd_view TO anon;


--
-- Name: TABLE card_functional_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.card_functional_view TO anon;


--
-- Name: TABLE card_info; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.card_info TO anon;


--
-- Name: SEQUENCE card_info_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.card_info_id_seq TO anon;


--
-- Name: TABLE card_size_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.card_size_view TO anon;


--
-- Name: TABLE card_thickness_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.card_thickness_view TO anon;


--
-- Name: TABLE card_type_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.card_type_view TO anon;


--
-- Name: TABLE card_usage_type; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.card_usage_type TO anon;


--
-- Name: TABLE chip_list; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.chip_list TO anon;


--
-- Name: TABLE coated_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.coated_view TO anon;


--
-- Name: TABLE color_edge; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.color_edge TO anon;


--
-- Name: TABLE core_material_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.core_material_view TO anon;


--
-- Name: TABLE development_type_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.development_type_view TO anon;


--
-- Name: TABLE hologram_list; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.hologram_list TO anon;


--
-- Name: TABLE hologram_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.hologram_view TO anon;


--
-- Name: TABLE hololam_detail_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.hololam_detail_view TO anon;


--
-- Name: TABLE mag_stripe_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.mag_stripe_view TO anon;


--
-- Name: TABLE overlay_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.overlay_view TO anon;


--
-- Name: TABLE perso_detail_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.perso_detail_view TO anon;


--
-- Name: TABLE personalization_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.personalization_view TO anon;


--
-- Name: TABLE plug_in_type_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.plug_in_type_view TO anon;


--
-- Name: TABLE print_method_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.print_method_view TO anon;


--
-- Name: TABLE request_type_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.request_type_view TO anon;


--
-- Name: TABLE signature_list; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.signature_list TO anon;


--
-- Name: TABLE signature_silk_screen_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.signature_silk_screen_view TO anon;


--
-- Name: TABLE special_punch_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.special_punch_view TO anon;


--
-- Name: TABLE spot_uv_varnish_inkjet_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.spot_uv_varnish_inkjet_view TO anon;


--
-- Name: TABLE users; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.users TO anon;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT ON TABLES  TO anon;


--
-- PostgreSQL database dump complete
--

